<!DOCTYPE html>
<html lang="es">
	<head>
		<title>theblackram</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet"  href="../static/css/reset.css">
		<link rel="stylesheet"  href="../static/css/theblackram.css">
	</head>
<body>
	<div class="centrar">	
	<header>
		<div class="cont-cabecera">
			<ul class="cont-cabecera-list">
				<li class="cont-cabecera-item">
					<a class="cont-cabecera-link color1" href="#">VISIT OUR WEBSITE</a>
				</li>
				<li class="cont-cabecera-item">
					<a class="cont-cabecera-link color2" href="#">OPEN IN BROWSER</a>
				</li>	
			</ul>

		</div>
		<div class="cont">
			<figure class="logo">
				<img class="logo-1" src="../static/images/t3_image1.jpg" alt="#" />
			</figure>	
		<section class="cont-cabecera2">
			<ul class="cont-cabecera2-list">
				<li class="cont-cabecera2-item">
					<a class="cont-cabecera2-link" href="#">BREADS -</a>
				</li>
				<li class="cont-cabecera2-item">
					<a class="cont-cabecera2-link" href="#">ENTREES -</a>
				</li>	
				<li class="cont-cabecera2-item">
					<a class="cont-cabecera2-link" href="#">WOODFIRE PIZZA -</a>
				</li>
				<li class="cont-cabecera2-item">
					<a class="cont-cabecera2-link" href="#">SIDES -</a>
				</li>
				<li class="cont-cabecera2-item">
					<a class="cont-cabecera2-link" href="#">BURGERS -</a>
				</li>
				<li class="cont-cabecera2-item">
					<a class="cont-cabecera2-link" href="#">MAINS -</a>
				</li>
				<li class="cont-cabecera2-item">
					<a class="cont-cabecera2-link" href="#">DRINKS</a>
				</li>	
			</ul>
		</section>
		</div>		
	</header>

		<section class="contenedoroferta">
			<h2 class="contenedoroferta-anuncio">THE <span class="color">BEST BEER</span> YOU WILL EVER TASTE</h2>
			<h2 class="contenedoroferta-anuncio2">SERIOUSLY. IT’S NOT JUST A TITLE.</h2> 
			<figure class="imagen">
				<img class="logo-1" src="../static/images/t3_image2.jpg" alt="#" />
			</figure>
			<p class="contenedoroferta-anuncio3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>	
			<h2 class="contenedoroferta-anuncio3-informacion"><a class="colora"    href="#"> <span class="color">MORE </span>INFO</a>
			</h2>
		</section>

		<section class="contenedoroferta2">
			<h2 class="contenedoroferta2-anuncios"><span class="color-b">TOGETHER WITH THE</span> BEEFIEST STEAK</h2>
			<ul class="medio">
				<li class="medio-item">
					<a class="medio-link" href="#">RARE.MEDIUM.</a>
				</li>
				<li class="medio-item">
					<a class="medio-link" href="#">WELL DONE</a>
				</li>	
			</ul>
			<div class="contenedorz">
			<figure class="imagen2">
				<img class="logo-2" src="../static/images/t3_image3.jpg" alt="#" />
			</figure>
			<div class="letras">
			<p class="contenedoroferta2-anuncios3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>	
			<h2 class="contenedoroferta2-anuncios3-informacion"><a class="colora2"    href="#"> <span class="color2">MORE </span>INFO</a>
			</h2>
			</div>
			</div>
			<figure class="imagen3">
				<img class="logo-3" src="../static/images/t3_image4.jpg" alt="#" />
			</figure>
		</section>

		<section class="menucomida">
				<h2 class="menucomida-titulo">OUR <span class="color">MENU</span></h2>
				<h2 class="menucomida-titulo2">IS MORE THAN JUST STEAKS AND BEER</h2>
				<div class="contenedor1">
				<ul class="menucomida-list">
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Turkey Milanese</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Fritto Misto</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Italian Steak Frites</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Baked Crespelle</a>
					</li>	
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Lamb Chops Scottaditta</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">The Ultimate Burger</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Grilled Chicken Puttanesc</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Crispy Italian-Spiced Duck</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link" href="#">Leg 10oz-Dry</a>
					</li>
				</ul>
				
				<ul class="menucomida-list">
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$18.95</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$15.95</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$12.95</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$11.95</a>
					</li>	
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$16.95</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$13.95</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$17.95</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$20.95</a>
					</li>
					<li class="menucomida-item">
						<a class="menucomida-link dolar" href="#">$22.95</a>
					</li>
				</ul>
				</div>
		</section>
		<section class="menuofertas">

			<h2 class="menuofertas-titulo">SPECIAL</h2>
			<h2 class="menuofertas-titulo2">OFFERS</h2>
			<h2 class="menuofertas-titulo3">BECAUSE YOU’RE KINDA AWESOME</h2>

			<div class="menuofertas-contenedor">
			<figure class="imagen4">
				<img class="iman" src="../static/images/t3_image5.jpg" alt="#" />
			</figure>
			<h2 class="menuofertas-titulo3">1x Beer + 2x cheese burger</h2>
			<p class="menuofertas-titulo4">Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<p class="menuofertas-titulo5"><span class="cambiar">$ </span>8.99</p>
			<h2 class="contenemenuofertas-informacion"><a class="cambio"  href="#"> <span class="cambiar2">MORE </span>INFO</a>
			</h2>
			</div>


			<div class="menuofertas-contenedor">
			<figure class="imagen4">
				<img class="iman" src="../static/images/t3_image6.jpg" alt="#" />
			</figure>
			<h2 class="menuofertas-titulo3">1x Beer + 2x cheese burger</h2>
			<p class="menuofertas-titulo4">Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<p class="menuofertas-titulo5"><span class="cambiar">$ </span>8.99</p>
			<h2 class="contenemenuofertas-informacion"><a class="cambio"  href="#"> <span class="cambiar2">MORE </span>INFO</a>
			</h2>
			</div>
		</section>

		<section class="direccion">
			<h2 class="direccion-titulo">WE WILL BE <span class="you">EXPECTING YOU
			</span></h2>
			<h2 class="direccion-titulo2">VISIT OR CONTACT US</h2> 
			<ul class="direccion-list">
				<li class="direccion-item">
					<img class="direccion-icono" src="../static/images/t3_ico_pin.jpg" alt="#" />
					<a class="direccion-link" href="#">33 4th Dr.</a>
				</li>
				<li class="direccion-item">
					<img class="direccion-icono" src="../static/images/t3_ico_email.jpg" alt="#" />
					<a class="direccion-link" href="#">restaurant@magnolia.com</a>
				</li>
				<li class="direccion-item">
					<img class="direccion-icono" src="../static/images/t3_ico_phone.jpg" alt="#" />
					<a class="direccion-link linea" href="#">(123) 456-7890</a>
				</li>	
			</ul>	
			<ul class="direccion-list2">
				<li class="direccion-item2">
					<img class="direccion-link2" src="../static/images/t3_ico_facebook.jpg"alt="#" />
				</li>
				<li class="direccion-item2">
					<img class="direccion-link2" src="../static/images/t3_ico_twitter.jpg" alt="#" />
				</li>
				<li class="direccion-item2">
					<img class="direccion-link2" src="../static/images/t3_ico_instagram.jpg" alt="#" />
				</li>	
				<li class="direccion-item2">
					<img class="direccion-link2" src="../static/images/t3_ico_linkedin.jpg" alt="#" />
				</li>	
			</ul>	
			<p class="direccion-free">	MAISON BLANCHE - FREE HTML EMAIL TEMPLATE</p>
			<p class="direccion-free">	EAST PIXEL BLD. 99, CREATIVE CITY 9000, REPUBLIC OF DESIGN</p>	
		</section>
		<footer class="footer">					
			<a class="footer-final" href="#">UNSUBSCRIBE FROM THIS MAILING LIST.</a>
		</footer>
	</div>	
</body>			
</html>